@page "/"

<PageTitle>Index</PageTitle>

<h1>👋 Hello, friend!</h1>

<p>Welcome to the ultimate source of Microsoft Icons for your diagrams and presentations! 🙌</p>

<p>If you’re a fan of Azure and other Microsoft products, you know how hard it is to find the latest and official icons online. 😫</p>

<p>That’s why I created this website, inspired by <a href="http://code.benco.io/icon-collection/azure-icons/"> Code Benco’s </a>, but with more updates and features. 😎</p>

<p>Here, you can download all the icons you need in one click, and easily drag and drop them from your Downloads folder. 🚀</p>

<p>Just a heads up, this is not an official Microsoft website or product. I’m just a fellow Microsoft enthusiast who wants to share these awesome icons with you. 😊</p>

<p>The icons are from these sources:</p>
<ul> <li><a href="https://learn.microsoft.com/en-us/azure/architecture/icons/">Azure Architecture Icons</a></li> <li><a href="https://learn.microsoft.com/en-us/fabric/get-started/icons">Fabric Icons</a></li> <li><a href="https://learn.microsoft.com/en-us/microsoft-365/solutions/architecture-icons-templates?view =o365-worldwide">Microsoft 365 Architecture Icons and Templates</a></li> <li><a href="https://learn.microsoft.com/en-us/dynamics365/get-started/icons">Dynamics 365 Icons</a></li> <li><a href="https://learn.microsoft.com/en-us/power-platform/guidance/icons">Power Platform Icons</a></li> </ul>

<p>I don’t own these icons, I’m just redistributing them for your convenience. 🙏</p>

<p>If you find a bug or have a suggestion, feel free to create an issue or a pull request on <a href="https://github.com/mjtpena/AzureIcons/issues">GitHub</a>. 🐛</p>

<p>Enjoy! 😁</p>