@page "/"

<PageTitle>Official Cloud Icons</PageTitle>

<h1>👋 Hello, friend!</h1>

<p>Welcome to the ultimate source of icons for cloud services from Microsoft, AWS, and GCP for your diagrams and presentations! 🙌</p>

<p>If you’re a fan of cloud computing, you know how hard it is to find the latest and official icons online. 😫</p>

<p>That’s why I created this website, but with more updates and more providers. 😎</p>

<p>Here, you can download all the icons you need in one click, and easily drag and drop them from your Downloads folder. 🚀</p>

<p>Just a heads up, this is not an official website or product of any cloud provider. I’m just a fellow cloud enthusiast who wants to share these awesome icons with you. 😊</p>

<p>The icons are from these sources:</p>
<ul>
    <li><a href="https://learn.microsoft.com/en-us/azure/architecture/icons/">Azure Architecture Icons</a></li>
    <li><a href="https://learn.microsoft.com/en-us/fabric/get-started/icons">Fabric Icons</a></li>
    <li><a href="https://learn.microsoft.com/en-us/microsoft-365/solutions/architecture-icons-templates?view =o365-worldwide">Microsoft 365 Architecture Icons and Templates</a></li>
    <li><a href="https://learn.microsoft.com/en-us/dynamics365/get-started/icons">Dynamics 365 Icons</a></li>
    <li><a href="https://learn.microsoft.com/en-us/power-platform/guidance/icons">Power Platform Icons</a></li>
    <li><a href="https://aws.amazon.com/architecture/icons/">AWS Architecture Icons</a></li>
    <li><a href="https://cloud.google.com/icons">GCP Architecture Icons</a></li>
</ul>

<p>I don’t own these icons, I’m just redistributing them for your convenience. 🙏</p>

<p>Also, I just really want to try out Blazor and Azure Container Apps.</p>

<p>If you find a bug or have a suggestion, feel free to create an issue or a pull request on <a href="https://github.com/mjtpena/CloudIcons/issues">GitHub</a>. 🐛</p>

<p>Enjoy! 😁</p>