<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Official Cloud Icons</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-warning" aria-hidden="true"></span> Disclaimer
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="iconlist/azure" Match="NavLinkMatch.Prefix">
                <span class="oi oi-cloud" aria-hidden="true"></span> Azure
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="iconlist/aws" Match="NavLinkMatch.Prefix">
                <span class="oi oi-cloud" aria-hidden="true"></span> AWS
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="iconlist/gcp" Match="NavLinkMatch.Prefix">
                <span class="oi oi-cloud" aria-hidden="true"></span> Google Cloud
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="iconlist/fabric" Match="NavLinkMatch.Prefix">
                <span class="oi oi-graph" aria-hidden="true"></span> Fabric
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="iconlist/microsoft365" Match="NavLinkMatch.Prefix">
                <span class="oi oi-document" aria-hidden="true"></span> Microsoft 365
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="iconlist/powerplatform" Match="NavLinkMatch.Prefix">
                <span class="oi oi-power-standby" aria-hidden="true"></span> Power Platform
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="iconlist/dynamics365" Match="NavLinkMatch.Prefix">
                <span class="oi oi-bullhorn" aria-hidden="true"></span> Dynamics 365
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="iconlist/entra" Match="NavLinkMatch.Prefix">
                <span class="oi oi-account-login" aria-hidden="true"></span> Entra (Azure AD)
            </NavLink>
        </div>
    </nav>

</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
